/* Estilos comunes para todos los filósofos */
.text {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

/* Estilos específicos para cada filósofo */
.philosopher0-text {
    -fx-fill: #FF0000; /* Rojo */
}

.philosopher1-text {
    -fx-fill: #00FF00; /* Verde */
}

.philosopher2-text {
    -fx-fill: #0000FF; /* Azul */
}

.philosopher3-text {
    -fx-fill: #FF00FF; /* Magenta */
}

.philosopher4-text {
    -fx-fill: #FFFF00; /* Amarillo */
}

.root {
    -fx-background-color: #F2ECE6; /* Color de fondo principal */
}
.philosopher-label {
    -fx-background-color: #F6E3B4; /* Color de fondo del Label del filósofo */
}

.button {
    -fx-background-color: #E5D8BF; /* Color de fondo del botón */
}

.table {
    -fx-fill: #E2E2E2;
}

.philosopher-text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.philosopher-label {
    -fx-padding: 10px;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}